{% if(mysql_datas != None) %}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th colspan="4" rowspan="1" class="text-center">
                        Innodb_Rows
                    </th>
                    <th colspan="9" rowspan="1" class="text-center">
                        Buffer Pool Pages
                    </th>
                    <th colspan="6" rowspan="1" class="text-center">
                        Row Lock
                    </th>
                </tr>
                <tr>
                    <th>
                        Host
                    </th>
                    <th>
                        Read
                    </th>
                    <th>
                        Insert
                    </th>
                    <th>
                        Update
                    </th>
                    <th>
                        Delete
                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        Data
                    </th>
                    <th>
                        Dirty
                    </th>
                    <th>
                        Free
                    </th>
                    <th title="dirty page usage">
                        Dirty_U
                    </th>
                    <th title="data page usage">
                        Data_U
                    </th>
                    <th>
                        Page_U
                    </th>
                    <th title="buffer pool page wait free">
                        Waits
                    </th>
                    <th>
                        Flushs
                    </th>
                    <th title="current_row_locks">
                        Locks
                    </th>
                    <th title="innodb_row_lock_waits">
                        Waits
                    </th>
                    <th title="innodb_row_lock_time">
                        Times
                    </th>
                    <th>
                        Avg
                    </th>
                    <th>
                        Max
                    </th>
                    <th title="dead lock count">
                        Dead
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for status in mysql_datas %}
                <tr>
                    <td>
                        {{ status.host_info.remark }}
                    </td>
                    <td>
                        {{ status.innodb_rows_read }}
                    </td>
                    <td>
                        {{ status.innodb_rows_inserted }}
                    </td>
                    <td>
                        {{ status.innodb_rows_updated }}
                    </td>
                    <td>
                        {{ status.innodb_rows_deleted }}
                    </td>
                    <td>
                        {{ status.innodb_buffer_pool_pages_total }}
                    </td>
                    <td>
                        {{ status.innodb_buffer_pool_pages_data }}
                    </td>
                    <td>
                        {{ status.innodb_buffer_pool_pages_dirty }}
                    </td>
                    <td>
                        {{ status.innodb_buffer_pool_pages_free }}
                    </td>
                    <td {% if(status.dirty_page_pct > 10) %} class="text-danger" {% endif %}>
                        {{ status.dirty_page_pct }}
                    </td>
                    <td>
                        {{ status.data_page_pct }}
                    </td>
                    <td>
                    	0
                    </td>
                    <td {% if(status.innodb_buffer_pool_wait_free > 0) %} class="text-danger" {% endif %}>
                        {{ status.innodb_buffer_pool_wait_free }}
                    </td>
                    <td>
                        {{ status.innodb_buffer_pool_pages_flushed }}
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td {% if(status.innodb_row_lock_time > 0) %} class="text-danger" {% endif %}>
                        {{ status.Innodb_row_lock_time }}
                    </td>
                    <td>
                        {{ status.innodb_row_lock_time_avg }}
                    </td>
                    <td>
                        {{ status.innodb_row_lock_time_max }}
                    </td>
                    <td {% if(status.innodb_deadlocks > 0) %} class="text-danger" {% endif %}>
                        {{ status.innodb_deadlocks }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th colspan="4" rowspan="1" class="text-center">
                        Buffer Pool
                    </th>
                    <th colspan="3" rowspan="1" class="text-center">
                        Redo Log
                    </th>
                    <th colspan="3" rowspan="1" class="text-center">
                        OS Log
                    </th>
                    <th colspan="8" rowspan="1" class="text-center">
                        Innodb Data
                    </th>
                    <th>
                    </th>
                </tr>
                <tr>
                    <th>
                        Host
                    </th>
                    <th>
                        Read
                    </th>
                    <th>
                        R_Reqs
                    </th>
                    <th title="write requests">
                        W_Reqs
                    </th>
                    <th>
                        Hit
                    </th>
                    <th>
                        Writes
                    </th>
                    <th>
                        Waits
                    </th>
                    <th title="log write requests">
                        W_Req
                    </th>
                    <th title="os log pending fsync">
                        P_F
                    </th>
                    <th title="os log pending wirete">
                        P_W
                    </th>
                    <th title="os log write">
                        Written
                    </th>
                    <th>
                        Reads
                    </th>
                    <th>
                        Writes
                    </th>
                    <th>
                        Read
                    </th>
                    <th>
                        Written
                    </th>
                    <th>
                        Fsyncs
                    </th>
                    <th title="innodb data pending fsyncs">
                        P_F
                    </th>
                    <th title="innodb data pending reads">
                        P_R
                    </th>
                    <th title="innodb data pending writes">
                        P_W
                    </th>
                    <th title="undo log history length">
                        Undo
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for status in mysql_datas %}
                <tr>
                    <td>
                        {{ status.host_info.remark }}
                    </td>
                    <td {% if(status.innodb_buffer_pool_reads > 0) %} class="text-danger" {% endif %}>
                        {{ status.innodb_buffer_pool_reads }}
                    </td>
                    <td>
                        {{ status.innodb_buffer_pool_read_requests }}
                    </td>
                    <td {% if(status.innodb_buffer_pool_write_requests > 5000) %} class="text-danger" {% endif %}>
                        {{ status.innodb_buffer_pool_write_requests }}
                    </td>
                    <td {% if(status.buffer_pool_hit < 90) %} class="text-danger" {% endif %}>
                        {{ status.buffer_pool_hit }}
                    </td>
                    <td>
                        {{ status.innodb_log_writes }}
                    </td>
                    <td {% if(status.innodb_log_waits > 0) %} class="text-danger" {% endif %}>
                        {{ status.innodb_log_waits }}
                    </td>
                    <td>
                        {{ status.innodb_log_write_requests }}
                    </td>
                    <td {% if(status.innodb_os_log_pending_fsyncs > 0) %} class="text-danger" {% endif %}>
                        {{ status.innodb_os_log_pending_fsyncs }}
                    </td>
                    <td {% if(status.innodb_os_log_pending_writes > 0) %} class="text-danger" {% endif %}>
                        {{ status.innodb_os_log_pending_writes }}
                    </td>
                    <td>
                        {{ status.innodb_os_log_written }}
                    </td>
                    <td>
                        {{ status.innodb_data_reads }}
                    </td>
                    <td>
                        {{ status.innodb_data_writes }}
                    </td>
                    <td>
                        {{ status.innodb_data_read }}
                    </td>
                    <td>
                        {{ status.innodb_data_written }}
                    </td>
                    <td>
                        {{ status.innodb_data_fsyncs }}
                    </td>
                    <td {% if(status.innodb_data_pending_fsyncs > 0) %} class="text-danger" {% endif %}>
                        {{ status.innodb_data_pending_fsyncs }}
                    </td>
                    <td {% if(status.innodb_data_pending_reads > 0) %} class="text-danger" {% endif %}>
                        {{ status.innodb_data_pending_reads }}
                    </td>
                    <td {% if(status.innodb_data_pending_writes > 0) %} class="text-danger" {% endif %}>
                        {{ status.innodb_data_pending_writes }}
                    </td>
                    <td {% if(status.innodb_history_list_length > 5000) %} class="text-danger" {% endif %}>
                        {{ status.innodb_history_list_length }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!--<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th colspan="2" rowspan="1" class="text-center">
                        Spin Var
                    </th>
                    <th colspan="4" rowspan="1" class="text-center">
                        Mutex Lock
                    </th>
                    <th colspan="4" rowspan="1" class="text-center">
                        Excl Lock
                    </th>
                    <th colspan="4" rowspan="1" class="text-center">
                        Share Lock
                    </th>
                </tr>
                <tr>
                    <th>
                        Host
                    </th>
                    <th title="innodb_sync_spin_loops">
                        Loops
                    </th>
                    <th title="innodb_spin_wait_delay">
                        W_Delay(ms)
                    </th>
                    <th>
                        OS_Waits
                    </th>
                    <th>
                        Rounds
                    </th>
                    <th>
                        Waits
                    </th>
                    <th>
                        Aatio(%)
                    </th>
                    <th>
                        OS_Waits
                    </th>
                    <th>
                        Rounds
                    </th>
                    <th>
                        Waits
                    </th>
                    <th>
                        Aatio(%)
                    </th>
                    <th>
                        OS_Waits
                    </th>
                    <th>
                        Rounds
                    </th>
                    <th>
                        Waits
                    </th>
                    <th>
                        Aatio(%)
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for status in mysql_datas %}
                    <tr>
                    <td class="text-left">
                        {{ status.host_info.remark }}
                    </td>
                    <td>
                        {{ status.mysql_variables.innodb_sync_spin_loops }}
                    </td>
                    <td>
                        {{ status.mysql_variables.innodb_spin_wait_delay }}
                    </td>
                    <td {% if(status.innodb_mutex_os_waits > 0) %} class="text-danger" {% endif %}>
                        {{ status.innodb_mutex_os_waits }}
                    </td>
                    <td>
                        {{ status.innodb_mutex_spin_rounds }}
                    </td>
                    <td>
                        {{ status.innodb_mutex_spin_waits }}
                    </td>
                    <td>
                        0
                    </td>
                    <td {% if(status.innodb_x_lock_os_waits > 0) %} class="text-danger" {% endif %}>
                        {{ status.innodb_x_lock_os_waits }}
                    </td>
                    <td>
                        {{ status.innodb_x_lock_spin_rounds }}
                    </td>
                    <td>
                        {{ status.innodb_x_lock_spin_waits }}
                    </td>
                    <td>
                    	0
                    </td>
                    <td {% if(status.innodb_s_lock_os_waits > 0) %} class="text-danger" {% endif %}>
                        {{ status.innodb_s_lock_os_waits }}
                    </td>
                    <td>
                        {{ status.innodb_s_lock_spin_rounds }}
                    </td>
                    <td>
                        {{ status.innodb_s_lock_spin_waits }}
                    </td>
                    <td>
                    	0
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>-->
{% endif %}